<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>pro.firepanther.if</string>
		<key>ProgramArguments</key>
		<array>
			<string>/User/Documents/FireCloud/cron/launcher.sh</string>
		</array>
		<key>Nice</key>
		<integer>20</integer>
		<key>StartInterval</key>
		<integer>3000</integer>
	</dict>
</plist>